<ul class="list-group">
  <li class="list-group-item list-group-item-action">
    <i class="material-icons">&#xE871;</i>
    <label>Principal</label>
  </li>

  <li class="list-group-item list-group-item-action">
    <i class="material-icons">&#xE051;</i>
    <label>Categoria</label>
  </li>

  <li class="list-group-item list-group-item-action">
      <i class="material-icons">&#xEB3F;</i>
      <label>Produtos</label>
    </li>

  <li class="list-group-item list-group-item-action">
    <i class="material-icons">&#xE851;</i>
    <label>Cliente</label>
  </li>

  <li class="list-group-item list-group-item-action">
    <i class="material-icons">&#xE87C;</i>
    <label>Funcionario</label>
  </li>

  <li class="list-group-item list-group-item-action">
    <i class="material-icons">&#xE85C;</i>
    <label>Vendas</label>
  </li>

  <li class="list-group-item list-group-item-action">
    <i class="material-icons">&#xE8D1;</i>
    <label>Empresa</label>
  </li>
</ul>
