<ul class="list-group">
  <li class="list-group-item list-group-item-action" [routerLink]="['/admin/principal']" routerLinkActive="ativo">
    <i class="fas fa-tachometer-alt"></i>
    <label>Principal</label>
  </li>

  <li class="list-group-item list-group-item-action" [routerLink]="['/admin/categorias']" routerLinkActive="ativo">
    <i class="fas fa-cubes"></i>
    <label>Categoria</label>
  </li>

  <li class="list-group-item list-group-item-action">
    <i class="fas fa-box"></i>
    <label>Produtos</label>
  </li>

  <li class="list-group-item list-group-item-action">
    <i class="fas fa-users"></i>
    <label>Cliente</label>
  </li>

  <li class="list-group-item list-group-item-action">
    <i class="fas fa-users-cog"></i>
    <label>Funcionario</label>
  </li>

  <li class="list-group-item list-group-item-action">
      <i class="fas fa-chart-line"></i>
    <label>Vendas</label>
  </li>

  <li class="list-group-item list-group-item-action">
      <i class="fas fa-university"></i>
    <label>Empresa</label>
  </li>
</ul>
