<div class="princiapal">
  <div class="row justify-content-center">
   <button class="btn col-12 comprar" (click)="direcionarLogin()">Entrar</button>
   <button class="col-12 btn facebook"><img src="assets/images/facebook-app-logo.svg"/>  Entrar com Facebook</button>
   <div class="col-12">
     <p class="text-center text-black-50" (click)="direcionarCadastrar()">Cliente Novo? Cadastrar</p>
   </div>
  </div>
  <div class="footer">
      <section class="row align-items-end">
        <article class="col-6">
          <p class="text-black-50">Meus Pedidos</p>
        </article>
        <article class="col-6">
         <p class="text-black-50" >Minha Conta</p>
        </article>
      </section>
    </div>
</div>
