<h1>
  <i class="fab fa-keycdn"></i> Permissão
</h1>

<div class="row">
  <section class="col-12" [ngClass]="getTamanho()">
    <div class="row">
      <div class="col-12 row">
        <article class="col-12 row">
          <div class="form-group col-8">
            <input type="text" class="form-control" id="Pesquisa" placeholder="Pesquisa Permissão" [(ngModel)]="filtro">
          </div>
          <div class="col-4">
            <button class="btn btn-success float-lg-right" routerLink="/admin/permissoes/novo">
              <i class="fas fa-plus"></i> Adicionar</button>
          </div>
        </article>
        <h2>
          <i class="fas fa-key"></i> Permissões
        </h2>

        <ul class="col-12 list-group conteiner">
          <li *ngFor="let dado of getDados()" [routerLink]="['/admin/permissoes',dado.id]"
          routerLinkActive="ativo"class="list-group-item list-group-item-action">
            {{dado.nome}}
        </li>
      </ul>

      </div>
    </div>
  </section>
  <section class="col-12 col-md-5" [hidden]="children">
    <router-outlet></router-outlet>
  </section>
</div>
