
<!-- Aside - Começo -->
<aside class="col-10 col-md-2 sem position-fixed" [hidden]="painel">
  <nav class="list-group-item titulo ">
    <p class="text-center align-middle">Art's
      <label class="font-weight-bold">Fatima</label>
    </p>
  </nav>

  <section class="list-group-item person">
    <div class="row">
      <div class="col-4">
        <img src="assets/images/person.jpeg" class="imgPerson">
      </div>
      <div class="col-8 sem">
        <p class="font-weight-bold">Paulo Ferreira</p>
        <p>
          <img src="assets/images/svg/circle.svg" class="circle">Online</p>
      </div>
    </div>
  </section>

  <section class="list-group-item nav">
    <p class="text-uppercase">Navegação</p>
  </section>

  <!-- Onde estar a navegação -->
  <app-navegacao></app-navegacao>
</aside>
<!-- Fim - Aside -->

<main class="col-12 col-md-10 offset-md-2 sem">
  <ul class="titulo nav justify-content-end">
    <li class="nav-item" (click)="mostarLogin()">
      <img src="assets/images/person.jpeg" class="imgPerson">
      <label>Paulo Ferreira</label>
    </li>
    <li class="nav-item">
        <i class="fas fa-cogs"></i>
    </li>
  </ul>

  <section class="container">
    <router-outlet></router-outlet>
  </section>
</main>

<!-- Login -->
<div class="princiapal" [hidden]="login">
  <div class="prin">
    <section class="row">
      <article class="col-12">
        <img src="assets/images/person.jpeg" class="imgPerson">
      </article>
      <article class="col-12">
        <p class="nome">Paulo Ferreira</p>
        <p class="perfil"> Administrador </p>
      </article>
    </section>
  </div>
  <div class="footer">
    <section class="row align-items-end">
      <article class="col-8">
      </article>
      <article class="col-3">
        <button class="btn btn-danger">
          <i class="fas fa-sign-out-alt"></i>
          <label>Sair</label>
        </button>
      </article>
    </section>
  </div>
</div>

<div class="final" *ngIf="final" (click)="fecharLoginPainel()"></div>
