@import "~styles.scss";

div.princiapal {
  top: 90px;
  @media only screen and (min-width: 769px) {
    top: 60px;
  }
  width: 310px;
  transform: translateY(0px);
  position: absolute;
  right: 0;
  margin: 0.3rem;
  z-index: 1000;
  padding: 0.4rem;
  padding-right: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  background-clip: padding-box;
  animation: 0.2;
  span {
    color: #000;
    margin-bottom: 0.2rem;
  }
  div.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e5e5e5;
    margin-left: -0.4rem;
    margin-bottom: -0.4rem;
    margin-right: 0;
    padding: 0.875em;

    p {
      font-size: 14px;
    }

    a {
      font-size: 12px;
      color: $corPrimaria;
    }

    .comprar {
      background-color: $corPrimaria;
      color: $textPrimario;
    }
  }
}
