<footer class="row">
  <section class="container">
    <div class="row">
      <article class="col-12 col-md-3">
        <h5>SOBRE</h5>
        <p>
          <a>Quem Somos</a>
        </p>
      </article>
      <article class="col-12 col-md-3">
        <h5>ATENDIMENTO AO CLIENTE</h5>
        <p>
          <a>Entre em contrado</a>
        </p>
        <p>
          <a>Políticas de entrega e devolução</a>
        </p>
        <p>
          <a>Política de vendas</a>
        </p>
        <p>
          <a>Perguntas e respostas</a>
        </p>
      </article>
      <article class="col-12 col-md-6">
        <h5>FORMAS DE PAGAMENTO:</h5>
        <img src="assets/images/bandeiras-pagseguro.png" class="img-fluid">
      </article>
    </div>
  </section>
</footer>
