<h5 class="titulos">Cadastro</h5>
<form [formGroup]="formulario" (ngSubmit)="onSubmit(modal)">
  <div class="form-row">
    <!-- Nome -->
    <div class="form-group col-md-8">
      <label for="nome">Nome Completo:</label>
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome" [ngClass]="sharedForm.aplicarCssErro('nome')">
      <small class="text-muted">
        Min. 8
      </small>
      <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('nome')">Campo Obrigatório</small>
    </div>
    <div class="form-group col-md-4">
      <label for="CPF">CPF:</label>
      <input type="text" class="form-control" formControlName="CPF" id="CPF" placeholder="CPF" [ngClass]="sharedForm.aplicarCssErro('CPF')"
        [textMask]="{mask: cpf}" (blur)="validadorCPF()">
        <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('cpf')">Campo Obrigatório</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="telefone">Telefone:</label>
      <input type="text" class="form-control" formControlName="telefone" id="telefone" placeholder="Telefone" [ngClass]="sharedForm.aplicarCssErro('telefone')"
        [textMask]="{mask: telefone}">
        <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('telefone')">Campo Obrigatório</small>
    </div>
    <div class="form-group col-md-4">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" formControlName="senha" id="senha" placeholder="Senha" [ngClass]="sharedForm.aplicarCssErro('senha')"
        (blur)="onConfimeSenha()">
      <small class="text-muted">Min. 8</small>
      <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('senha')">Campo Obrigatório</small>
      <small class="erro" [hidden]="Erro[1]"> Senha não confere</small>
    </div>
    <div class="form-group col-md-4">
      <label for="confsenha">Confirme a Senha:</label>
      <input type="password" class="form-control" formControlName="confsenha" id="confsenha" placeholder="Confirme sua Senha" [ngClass]="sharedForm.aplicarCssErro('confsenha')"
        (blur)="onConfimeSenha()">
      <small class="text-muted">Min. 8</small>
      <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('confsenha')">Campo Obrigatório</small>
      <small class="erro" [hidden]="Erro[1]"> Senha não confere</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email:</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" [ngClass]="sharedForm.aplicarCssErro('email')"
        (blur)="onConfimeEmail()">
      <small class="erro" [hidden]="Erro[2]"> Email não confere</small>
    </div>
    <div class="form-group col-md-6">
      <label for="conemail">Confirme seu Email:</label>
      <input type="text" class="form-control" formControlName="conemail" id="conemail" placeholder="Confirme seu Email" [ngClass]="sharedForm.aplicarCssErro('conemail')"
        (blur)="onConfimeEmail()">
      <small class="erro" [hidden]="Erro[2]"> Email não confere</small>
    </div>
  </div>
  <!-- Parte do Endereço-->

  <h5 class="titulos">Endereço</h5>
  <div formGroupName="endereco">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputCEP">CEP:</label>
        <input type="text" class="form-control" id="CEP" placeholder="CEP" formControlName="CEP" [ngClass]="sharedForm.aplicarCssErro('endereco.CEP')"
          (blur)="consultarCEP()" [textMask]="{mask: cep}">
          <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('CEP')">Campo Obrigatório</small>
      </div>
      <div class="form-group col-md-7">
        <label for="rua">Logradouro:</label>
        <input type="text" class="form-control" formControlName="rua" id="rua" placeholder="Logradouro" [ngClass]="sharedForm.aplicarCssErro('endereco.rua')">

      <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('rua')">Campo Obrigatório</small>
      </div>
      <div class="form-group col-md-2">
        <label for="numero">Numero:</label>
        <input type="text" class="form-control" formControlName="numero" id="numero" placeholder="01" [ngClass]="sharedForm.aplicarCssErro('endereco.numero')">
        <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('numero')">Campo Obrigatório</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="complemento">Complemento:</label>
        <input type="text" class="form-control" formControlName="complemento" id="complemento" placeholder="Complemento" [ngClass]="sharedForm.aplicarCssErro('endereco.complemento')">
      </div>
      <div class="form-group col-md-3">
        <label for="bairro">Bairro:</label>
        <input type="text" class="form-control" formControlName="bairro" id="bairro" placeholder="" [ngClass]="sharedForm.aplicarCssErro('endereco.bairro')">
        <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('bairro')">Campo Obrigatório</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cidade">Cidade:</label>
        <input id="cidade" placeholder="Cidade" type="text" class="form-control" formControlName="cidade" [ngClass]="sharedForm.aplicarCssErro('endereco.cidade')">
        <small class="form-text text-danger" [hidden]="!sharedForm.verificaValidToucched('cidade')">Campo Obrigatório</small>
      </div>
      <div class="form-group col-md-6">
        <label for="estado">Estado:</label>
        <select name="estados" class="form-control" formControlName="estado" id="estado" [ngClass]="sharedForm.aplicarCssErro('endereco.estado')">
          <option value="0">Escolha o Estado</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>
    </div>
  </div>
  <button type="submit" id="enviar" class="btn btn-primary" [disabled]="!formulario.valid">Cadastrar</button>
  <button type="reset" class="btn btn-danger">Limpar</button>
</form>

<!-- Modal -->
<ng-template #modal>
  <!-- Parte Titulo - Modal -->
  <div class="modal-header">
    <h5 class="modal-title" id="titulo">{{ tituloModal }}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Parte Corpo - Modal -->
  <div class="modal-body">
    <p id="corpo">{{ messagemModal }}</p>
  </div>
  <!-- Parte Final - Modal -->
  <div class="modal-footer">
    <button type="button" id="fechar" class="btn btn-success"  (click)="modalRef.hide()">Fechar</button>
  </div>
</ng-template>
