<h1>
  <i class="fas fa-cubes"></i> Categoria
</h1>

<div class="row">
  <section class="col-12  col-md-6">
    <div class="row">
      <div class="col-12 row">
        <article class="col-12 row">
          <div class="form-group col-8">
            <input type="text" class="form-control" id="Pesquisa" placeholder="Pesquisa Categoria" [(ngModel)]="filtro">
          </div>
          <div class="col-4">
            <button class="btn btn-success float-lg-right" routerLink="/admin/categorias/novo">
              <i class="fas fa-plus"></i> Adicionar</button>
          </div>
        </article>
        <ul class="col-12 list-group conteiner">
          <li *ngFor="let categoria of pegarCadegorias()"
          class="list-group-item list-group-item-action"
          [routerLink]="['/admin/categorias',categoria.id]"
          routerLinkActive="ativo"
          >
            {{categoria.nome}}
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="col-12 col-md-5">
      <router-outlet></router-outlet>
  </section>
</div>
