@import '~styles.scss';

a{
 color: $corPrimaria;
}

p{
  margin-bottom: 0;
  font-size: 16px;
}

.remover{
  font-size: 12px;
  color: $corPrimaria;
  font-weight: bolder;
}

div {
  div.col-5{
    padding-right: 0;
  }

}

