@import '~styles.scss';

.nomeProduto{
 color: $corPrimaria !important;
 font-size: 14px;
}

p{
  margin-bottom: 0;
  font-size: 13px;
}

.remover{
  font-size: 12px;
  font-weight: bolder;
  &:hover{
    text-decoration: underline;
  }
}

a{
  cursor: pointer;
}

div.row {
  width: 100%;
  margin: 0;
  div.col-5{
    padding-right: 0;
  }

}

